---
import SocialPill from "@components/SocialPill.astro";
import LinkedinIcon from "@icons/LinkedinIcon.astro";
import GithubIcon from "@icons/GithubIcon.astro";
import MailIcon from "@icons/MailIcon.astro";
import PhoneIcon from "@icons/PhoneIcon.astro";
import Download from "@components/icons/Download.astro";
import { getI18n } from "src/i18n";
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<h2
  class="mb-5 md:mb-0 px-2 text-center font-bold text-xl md:text-2xl text-black dark:text-white"
>
  {i18n.ABOUTME.TITLE}
</h2>
<article class="flex flex-col md:flex-row-reverse items-center justify-center mb-4">
  <div class="flex flex-col justify-center items-center gap-y-3">
    <img
      class="h-48 aspect-square rounded-full mx-6"
      src="/photo.webp"
      alt="Foto de Cristian Rincón"
    />
    <a
      class="flex gap-x-2 items-center bg-blue-100 text-sky-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300"
      href="/cv.pdf"
      download
      rel="noopener noreferrer"
    >
      CV <Download class="size-4" />
    </a>
  </div>
  <p class="text-black dark:text-white px-6 py-3 md:p-5 text-pretty md:w-[70%]">
    {i18n.ABOUTME.DESCRIPTION}
  </p>
</article>
<div class="flex justify-center items-center gap-3 flex-wrap">
  <SocialPill
    target
    href="https://www.linkedin.com/in/cristian-santiago-rincon-caicedo/"
  >
    <LinkedinIcon class="size-4 md:size-5" />
    LinkedIn
  </SocialPill>
  <SocialPill target href="https://github.com/santiago-rincon">
    <GithubIcon class="size-4 md:size-5" />
    GitHub
  </SocialPill>
  <SocialPill target href="mailto:csrincon26@gmail.com">
    <MailIcon class="size-4 md:size-5" />
    csrincon26@gmail.com
  </SocialPill>
  <SocialPill target href="tel:+573138355260">
    <PhoneIcon class="size-4 md:size-5" />
    {i18n.ABOUTME.CALLME}
  </SocialPill>
</div>
