---
import Indicator from "@components/Indicator.astro";
import SocialPill from "@components/SocialPill.astro";
import RightArrow from "@components/icons/RightArrow.astro";
---

<h2
  class="px-2 text-center font-bold text-xl md:text-2xl text-black dark:text-white"
  transition:name="education-title"
>
  Formación académica
</h2>
<p>Actualmente cuento con títulos de:</p>
<div class="flex items-center w-full justify-around my-2">
  <ul class="[&>li]:font-semibold [&>li]:text-lg">
    <Indicator class="bg-blue-600">Pregrado</Indicator>
    <Indicator class="bg-yellow-600">Diplomados</Indicator>
    <Indicator class="bg-green-600">Técnicos</Indicator>
    <Indicator class="bg-purple-600">Cursos</Indicator>
  </ul>
  <img
    src="/education.webp"
    alt="Books icon"
    class="h-24 aspect-square opacity-90"
  />
</div>
<SocialPill href="/education">
  Saber más...
  <RightArrow />
</SocialPill>
