---
import SocialPill from "@components/SocialPill.astro";
import RightArrow from "@components/icons/RightArrow.astro";
import { getI18n } from "src/i18n";
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<h2
  class="px-2 text-center font-bold text-xl md:text-2xl text-black dark:text-white"
  transition:name="experience-title"
>
  {i18n.BENTOS.EXPERIENCE.TITLE}
</h2>
<div  class="flex items-center w-full justify-around my-2">
  <p class="text-pretty my-9 text-black dark:text-white">
    {i18n.BENTOS.EXPERIENCE.DESCRIPTION}
  </p>
  <img
    src="/job.webp"
    alt="Background"
    class="h-24 aspect-square opacity-90"
  />
</div>
<SocialPill href={i18n.BENTOS.EXPERIENCE.LINK} class="">
  {i18n.LEARNMORE}
  <RightArrow />
</SocialPill>
