---
import SocialPill from "@components/SocialPill.astro";
import RightArrow from "@components/icons/RightArrow.astro";
---

<h2
  class="px-2 text-center font-bold text-xl md:text-2xl text-black dark:text-white"
  transition:name="experience-title"
>
  Experiencia laboral
</h2>
<div  class="flex items-center w-full justify-around my-2">
  <p class="relative z-10 text-lg text-pretty my-9 text-black dark:text-white">
    Me he desempeñado como docente y auxiliar de investigación en
    áreas relacionadas con la ingeniería y el desarrollo web.
  </p>
  <img
    src="/job.webp"
    alt="Background"
    class="h-24 aspect-square opacity-20 dark:opacity-60"
  />
</div>
<SocialPill href="/experience" class="">
  Saber más...
  <RightArrow />
</SocialPill>
