---
import SocialPill from "@components/SocialPill.astro"
import RightArrow from "@components/icons/RightArrow.astro"
---
<h2
  class="relative z-10 px-2 text-center font-bold text-xl md:text-2xl text-black dark:text-white"
>
  Experiencia laboral
</h2>
<img src="/job.webp" alt="Background" class="absolute h-3/4 aspect-square blur-sm">
<p class="relative z-10 text-lg text-pretty my-9 text-black dark:text-white">

  Por el momemnto me he desempeñado como docente y auxliar de investigación
</p>
<SocialPill href="/experience" class="relative z-10">
  Saber más...
  <RightArrow />
</SocialPill>