---
import MainContainer from "@components/MainContainer.astro";
import TimeLine from "@components/TimeLine.astro";
import Layout from "@layouts/Layout.astro";
import { getI18n } from "src/i18n";
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });

const employs = i18n.EXPERIENCE.JOBS;
---

<Layout title={i18n.EXPERIENCE.TITLE} description={i18n.EXPERIENCE.DESCRIPTION}>
  <MainContainer>
    <h2
      class="text-center text-3xl md:text-4xl font-bold mb-8"
      transition:name="experience-title"
    >
      {i18n.EXPERIENCE.MAIN_TITLE}
    </h2>
    <TimeLine data={employs} />
  </MainContainer>
</Layout>
