---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Porfolio de Cristian Rincón"
  description="Página principal del porfolio de Cristian Santiago Rincón Caicedo"
>
  <main class="max-w-5xl mx-auto grid grid-cols-6">
    <section class="rounded-2xl h-64 bg-blue-500 col-span-4">

	</section>
	<section class="rounded-2xl h-64 bg-black col-span-2">

	</section>
	<section class="rounded-2xl h-64 bg-blue-500 col-span-2">

	</section>
	<section class="rounded-2xl h-64 bg-black col-span-4">

	</section>
	<section class="rounded-2xl h-64 bg-blue-500 col-span-4">

	</section>
	<section class="rounded-2xl h-64 bg-black col-span-2">

	</section>
  </main>
</Layout>
