---
import MainContainer from "@components/MainContainer.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Proyectos"
  description="Lista de proyectos realizados con diferentes técnologias"
>
  <MainContainer>
    <h2
      class="text-center text-4xl font-bold mb-8"
      transition:name="projects-title"
    >
    Proyectos
    </h2>
  </MainContainer>
</Layout>