---
interface Props {
  images: string[];
}
const { images } = Astro.props;
---

<div
  class="w-full relative flex overflow-scroll [scroll-snap-type:x_mandatory]"
>
  {
    images.map((img) => (
      <img
        src={img}
        loading="lazy"
        alt="Application image"
        class="w-full left-0 sticky object-cover [scroll-snap-align:center] rounded-lg"
      />
    ))
  }
</div>
