---
interface Props {
  images: string[];
}
const { images } = Astro.props;
---

<div
  class="aspect-video w-full relative flex overflow-scroll overflow-y-hidden mb-3"
>
  {
    images.map((img) => (
      <img
        src={img}
        alt="Application image"
        class="w-full left-0 sticky object-cover [scroll-snap-align:center] rounded-lg"
      />
    ))
  }
</div>
