---
import { getI18n } from "src/i18n";
import DropDown from "@components/DropDown.astro";
import Languages from "@icons/Languages.astro";
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
const navItems = i18n.NAVBAR;
let [, ...path] = Astro.url.pathname.split("/");
if (path[0] === "en") {
  [, ...path] = path;
}
console.log(path);
---

<header
  class="flex justify-center items-center sticky z-50 top-0 mx-auto pt-5 pb-6 w-full"
>
  <nav
    class="border border-black rounded-full px-6 py-1 flex items-center bg-neutral-200 dark:bg-black/50 backdrop-blur-2xl min-w-80 justify-between"
  >
    {
      navItems.map((link) => (
        <a
          class="text-black dark:text-white rounded-full px-2 sm:px-3 text-sm sm:text-base"
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <DropDown
      elements={[
        { title: "Español", url: `/${path}` },
        { title: "English", url: `/en/${path}` },
      ]}
    >
      <Languages />
    </DropDown>
  </nav>
</header>
