---
import SwitchTheme from "@components/SwitchTheme.astro";
import DropDown from "./DropDown.astro";

const navItems = [
  {
    title: "Inicio",
    url: "/",
  },
  {
    title: "Experiencia",
    url: "/experience",
  },
  {
    title: "Proyectos",
    url: "/projects",
  },
  {
    title: "Estudios",
    url: "/education",
  },
];
---

<header class="flex justify-center items-center mx-auto pt-5 pb-6 w-full">
  <nav
    class="border border-black rounded-full px-6 py-1 flex items-center bg-neutral-200 dark:bg-black/50 backdrop-blur-2xl min-w-80 justify-between"
  >
    <div class="hidden md:block">
      {
        navItems.map((link) => (
          <a
            class="text-black dark:text-white rounded-full px-2 sm:px-3 text-sm sm:text-base"
            href={link.url}
          >
            {link.title}
          </a>
        ))
      }
    </div>
    <DropDown elements={navItems} className="block md:hidden">Menú</DropDown>
    <!-- <SwitchTheme /> -->
  </nav>
</header>

<!-- <script>
  const preferDark =
    window.matchMedia &&
    window.matchMedia("(prefers-color-scheme: dark)").matches;
  let button = document.getElementById("toggle");
  if (button instanceof HTMLInputElement) {
    if (preferDark) {
      button.checked = true;
      document.body.classList.toggle("dark", true);
    } else {
      button.checked = false;
      document.body.classList.toggle("dark", false);
    }
    button.addEventListener("change", () => {
      if (button instanceof HTMLInputElement) {
        const check = button.checked;
        document.body.classList.toggle("dark", check);
      }
    });
  }
  document.addEventListener("astro:after-swap", () => {
    if (button instanceof HTMLInputElement) {
      console.log(button.checked);
      document.body.classList.toggle("dark", button.checked);
    }
  });
</script> -->
