
<span class="flex items-center text-base font-medium text-gray-900 dark:text-white me-3">
    <span class=`flex w-2.5 h-2.5 rounded-full me-1.5 flex-shrink-0 ${Astro.props.class}`></span>
    <slot />
</span>
